.cameraLoader {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  position: fixed;
  background-color: black;
}

body.camera-active {
  --background: transparent;
  --ion-background-color: transparent;
}