
.cameraLoader {
    position: absolute !important;
    top: 200px;
    width: 80%;
    height: 20%;
    border-radius: 25px;
    box-shadow: 0px 0 0 600px rgba(0, 0, 0, 1);

}
.cameraPreview {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 20;
}


body.camera-active {
    --background: transparent;
    --ion-background-color: transparent;
}
