/* .cameraLoader {
  position: relative !important;
  width: 80%;
  height: 60%;
  border-radius: 20px;
  box-shadow: 0 0 0 600px rgba(0, 0, 0, 1);
} */

body.camera-active {
  --background: transparent;
  --ion-background-color: transparent;
}
